<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Ichiraku — Home</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <!-- optional later -->
  </head>

  <body>
    <header>
      <!-- Logo (replace src with assets/logo.png if you add a file) -->
      <img
        src="{{ url_for('static', filename='assets/logo.jpeg') }}"
        alt="Ichiraku logo"
        id="logo"
      />
      <nav>
        <a href="{{url_for('index')}}">Home</a> |
        <a href="{{url_for('menu')}}">Menu</a> |
        <a href="{{url_for('login_page')}}">Login</a>
      </nav>
    </header>

    <main>
      <section id="hero">
        <h1>Ichiraku</h1>
        <p class="tagline">Real flavors. Real people. Real food.</p>

        <div class="cta-container">
          <a href="{{ url_for('menu') }}" class="cta">Dine in</a>
          <a href="{{ url_for('login_page') }}" class="cta">Order</a>
        </div>
      </section>

      <section id="about">
        <h2>About</h2>
        <p>
          Welcome to Ichiraku — a cozy place Japanese dishes made with love.
        </p>
        <p>
          We reccomend you order our <b>Ramen noodles</b> as it is our
          traditianal dish.
        </p>
      </section>
    </main>

    <footer>
      <p>&copy; Ichiraku <span id="year"></span></p>
      <script>
        // small JS to set the current year (optional)
        document.getElementById("year").textContent = new Date().getFullYear();
      </script>
    </footer>
  </body>
</html>
